        body {
            font-family: Arial;
            background-color: #ae5a5a;
            margin: 0;
            padding: 0;
            color: #333;
        }
        header {
            background-color:#761b1b;
            color: #fff;
            text-align: center;
            padding: 22px;
            width: 100%;
        }
        h1 {
            font-size: 36px;
            margin: 0;
        }
        .content { 
            padding: 20px;
            max-width: 900px;
            margin: 0 auto;
        }
        .biography {
            background-color: #d89a9a;
            padding: 60px;
            border-radius: 6px;
            box-shadow: 0 2px 10px;
            margin-bottom: 20px;
            align-items: center;
        }
        .biography h2 {
            font-size: 22px;
        }
        .achievements {
            background-color: #d89a9a;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 2px 10px;
            margin-bottom: 20px;
        }
        .achievements h2 {
            font-size: 22px;
        }
        .achievements ul {
            list-style-type:disc;
            padding-left: 20px;
        }
        .achievements li {
            margin-bottom: 10px;
        }
        .legacy {
            background-color: #d89a9a;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 2px 10px;
            margin-bottom: 20px;
        }
        .legacy h2 {
            font-size: 22px;
        }
        .audio-section {
            background-color: #d89a9a;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 2px 10px;
            text-align: center;
        }
        .audio-section h2 {
            font-size: 22px;
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color:#761b1b;
            color: #ffffff;
            width: 100%;
        }